@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.swiper-button-prev::before,
.swiper-button-next::before {
  content: "";
  display: inline-block;
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-button-next ::after,
.swiper-button-prev::after {
  content: "";
}

.swiper-button-prev::before {
  background-image: url("/assets/arrowLeft.png"); /* Specify the left arrow image URL */
}

.swiper-button-next::before {
  background-image: url("/assets/arrowRight.png"); /* Specify the right arrow image URL */
}

.displayNone{
  display: none;
}

/* 
<div className="w-11/12 lg:px-8 m-auto p-5 md:p-3 lg:py-7 rounded-xl bg-white md:w-9/12 lg:w-full">
                        <p className="font-serif text-lg text-lightGray font-normal md:text-base pb-10">
                            Salty helped me a lot finding the best place for our first outdoor adventure trip. They responded very quickly and gave me a detailed account of the place, its history as well as its best features.
                        </p>

                        <span className="inline-flex">
                            <img src="/assets/starIcon.png" alt="rating png" />
                            <img src="/assets/starIcon.png" alt="rating png" />
                            <img src="/assets/starIcon.png" alt="rating png" />
                            <img src="/assets/starIcon.png" alt="rating png" />
                            <img src="/assets/starIcon.png" alt="rating png" />
                        </span>

                        <div className="flex justify-between items-center">

                            <span>
                                <p>Andrew Sarma</p>
                                <p>Entrepeneur</p>

                            </span>

                            <span className="flex gap-3 md:gap-5">
                                <img src="/assets/arrowLeft.png" className="w-10 md:w-full" alt="arrow left" />
                                <img src="/assets/arrowRight.png" className="w-10 md:w-full" alt="arrow right" />

                            </span>

                        </div>

                    </div> */